html {
    scroll-behavior: smooth;
  }

body{
    background-color:lavender;
}

/* typography */

h1{
    font-size: 40px;
    color:steelblue;
    font-family: 'Kanit', sans-serif;
}

p{
    line-height: 28px;
    font-size: 16px;
    color:sienna;
    font-family: 'Voces', cursive;
}

.button-link{
    border-style: solid;
    border-color:mistyrose;
    background-color:plum;
    border-width: 2px;
    text-decoration: none;
    color:white;
    border-radius: 12px;
    padding: 4px;
    display:block;
    width:180px;
    text-align:center;
    margin-top: 15px;

}

.button-alert{
    border-style: dashed;
    border-color:cornsilk;
    background-color:powderblue;
    border-width: 3px;
    text-decoration: none;
    color:aliceblue;
    border-radius: 12px;
    padding: 4px;
    display:block;
    width:180px;
    text-align:center;
    margin-top: 15px;
}

nav{
    padding: 20px;
    position:fixed;
    width: 100%;
    background-color:mediumturquoise;
}

.nav-links{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    padding: 0;
}

.nav-links li{
    display: inline;
}

.nav-links li a{
    padding-left: 10px;
    padding-right: 5px;
    color:aliceblue;
}

.top-banner{
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-image: url("https://64.media.tumblr.com/1bbf126fe1cc4ed9b0dbf66f4b70bbe6/8affa7d1310bf63e-c1/s1280x1920/a9b4545bb85dee1ae61b269b9828af437b556cd2.jpg");
    background-color:lightcyan;
    background-size: cover;
}

.main-content{
    max-width:800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer{
    height: 100px;
    text-align: center;
    padding: 10px 0;
    background-color: lemonchiffon;

}
