body{
    background-color:lavender;
}

/* typography */

h1{
    font-size: 40px;
    color:steelblue;
    font-family: 'Kanit', sans-serif;
}

p{
    line-height: 28px;
    font-size: 16px;
    color:sienna;
    font-family: 'Voces', cursive;
}

.button-link{
    border-style: solid;
    border-color:darkblue;
    background-color:indigo;
    border-width: 2px;
    text-decoration: none;
    color:white;
}