body{
    background-color:lavender;
}

/* typography */

h1{
    font-size: 40px;
    color:steelblue;
    font-family: 'Kanit', sans-serif;
}

p{
    line-height: 28px;
    font-size: 16px;
    color:sienna;
    font-family: 'Voces', cursive;
}

.button-link{
    border-style: solid;
    border-color:mistyrose;
    background-color:plum;
    border-width: 2px;
    text-decoration: none;
    color:white;
    border-radius: 12px;
    padding: 4px;
    display:block;
    width:180px;
    text-align:center;
    margin-top: 15px;

}

.button-alert{
    border-style: dashed;
    border-color:cornsilk;
    background-color:powderblue;
    border-width: 3px;
    text-decoration: none;
    color:aliceblue;
    border-radius: 12px;
    padding: 4px;
    display:block;
    width:180px;
    text-align:center;
    margin-top: 15px;
}

nav{
    padding: 20px;
}

.nav-ilnks{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-ilnks li{
    display: inline;
}

.nav-links li a{
    padding-left: 10px;
    padding-right: 5px;
}

.top-banner{
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color:lightcyan;
}

.main-content{
    max-width:800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer{
    height: 100px;
    text-align: center;
    padding: 10px 0;
    background-color: lemonchiffon;

}
